/* selector for the navigation elements */
nav {
	text-align: center;
	display: inline;
}
/* selector for id="topnav" */
#topnav {
}
/* selector for hovering */
a:hover{
	color: black;
}
/* selector for the body element */
body {
background-color: rgb(225, 225, 225);
}
/* selector for class="home" */
.home	{
	color: blue;
}
/* selector for the footer elements */	
footer {
	text-align: center;
	display: inline;
} 
/* selector for class="inline" and it children(li) */  
.inline > li {
	display: inline;
}
/* selector for class="container" */
.container {
	border: 3px solid yellow;
}
